# IntelliJ IDEA
*.iml
.idea/

# Build output directories
/out/


# Ignore the pipenv virtual environment directory
.venv/

# Ignore environment files that may contain sensitive information
.env
.flaskenv

# Byte-compiled Python files
__pycache__/
*.py[cod]

# macOS specific files (if you are on macOS)
.DS_Store

# Ignore log files and other local development artifacts
*.log

# Ignore the virtual environment libraries if created globally
venv/
