[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mysqldb = "*"
flask-bootstrap = "*"
config = "*"
flask-wtf = "*"
python-dotenv = "*"
flask-login = "*"
mysql-connector-python = "*"
python = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
