[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
config = "*"
python-dotenv = "*"
flask-bootstrap = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.12"
