.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: stretch; /* Match tallest element */
    margin: 1rem 0;
    column-gap: 10px;
}

.search {
    display: flex;
    align-items: stretch; /* Input & button match form height */
    margin: 0;
}

.search input,
.search button {
    height: auto; /* Let flexbox handle height */
}
